{% extends 'base.html' %}

{% block body %}
<div class="row row-cols-2">
    <div class="col">
        <h1>Premier tirage</h1>
    </div>
    <div class="col d-flex flex-column align-items-end">
        <i class="fas fa-coins"></i>
        <span>{{ cagnotte }} €</span>
    </div>
</div>


<form method="POST" action="{{ url_for('jeu_final') }}">
    <p>Quelles cartes souhaitez-vous garder ?</p>
    <div class="row justify-content-center">
        {% for carte in tirage %}
            <div class="col-auto">
                <div class="form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="{{ carte }}"
                        name="{{ carte }}"
                    />
                    <label class="form-check-label" for="{{ carte }}">
                        <img
                            class="img-fluid cartes"
                            id="{{ carte }}"
                            alt="carte {{ carte }}"
                            src="{{ url_for('static', filename='cartes/' + carte + '.jpg') }}"
                        />
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
    <button type="submit">Continuer</button>
</form>

<!-- <script>
    const cartes = document.querySelectorAll(".cartes")
    cartes.forEach(element => {
        
        element.addEventListener("click", (e) => {
            console.log(e.target.id);
        })
    });
    
</script> -->
{% endblock %}

