{% extends 'base.html' %}

{% block body %}
<div class="row row-cols-2">
    <div class="col">
        <h1>Premier tirage</h1>
    </div>
    <div class="col">
        <div class="row row-cols-3">
            <div class="col"></div>
            <div class="col col-auto d-flex flex-column align-items-center">
                <i class="fas fa-hand-holding"></i>
                <span>{{ mise }} €</span>
            </div>
            <div class="col col-auto d-flex flex-column align-items-center">
                <i class="fas fa-coins"></i>
                <span>{{ cagnotte }} €</span>
            </div>
        </div>
    </div>
</div>

<form method="POST" action="{{ url_for('jeu_final') }}">
    <p class="text-center">Quelle(s) carte(s) souhaitez-vous garder ?</p>
    <div class="row justify-content-center">
        {% for carte in tirage %}
            <div class="col-auto">
                <div class="form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="{{ carte }}"
                        name="{{ carte }}"
                    />
                    <label class="form-check-label" for="{{ carte }}">
                        <img
                            class="img-fluid cartes"
                            id="{{ carte }}"
                            alt="carte {{ carte }}"
                            src="{{ url_for('static', filename='cartes/' + carte + '.jpg') }}"
                        />
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-light" type="submit">Continuer</button>
    </div>
</form>
{% endblock %}

