{% extends 'base.html' %}

{% block body %}
<div class="row row-cols-2">
    <div class="col">
        <h1>Deuxième tirage</h1>
    </div>
    <div class="col">
        <div class="row row-cols-3">
            <div class="col"></div>
            <div class="col col-auto d-flex flex-column align-items-center">
                <i class="fas fa-hand-holding"></i>
                <span>{{ mise }} €</span>
            </div>
            <div class="col col-auto d-flex flex-column align-items-center">
                <i class="fas fa-coins"></i>
                <span>{{ cagnotte }} €</span>
            </div>
        </div>
    </div>
</div>

<p class="text-center">{{ combinaison }} {{ resultat }}</p>
<div class="row justify-content-center">
    {% for carte in tirage %}
        <div class="col-auto">
            <img
                class="img-fluid cartes"
                id="{{ carte }}"
                alt="carte {{ carte }}"
                src="{{ url_for('static', filename='cartes/' + carte + '.jpg') }}"
            />
        </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <div class="btn-group" role="group">
        {% if cagnotte > 0 %}
            <a class="btn btn-light" role="button" href="{{ url_for('init') }}">Miser</a>
        <a class="btn btn-light" role="button" href="{{ url_for('index') }}">Quitter</a>
        {% else %}
            <a class="btn btn-light" role="button" href="{{ url_for('index') }}">Rejouer</a>
        {% endif %}
    </div>
</div>
{% endblock %}

